.customers{
margin-left: auto;
margin-right: auto;

@extend %section
}

.customers__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 30px;

    justify-content: center;    
}


.customers__link {
    color: #afb1b8;

    height: 92px;
    width: 210px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid #afb1b8;
    border-radius: 4px;
    cursor: pointer;

    transition-property: color, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus {
        border-color: var(--accent-color);
        color: var(--accent-color);
    }

    @media screen and (min-width: $mobile) {
    width: 210px;
    }

    @media screen and (min-width: $tablet) {
        width: 226px;
    }

        @media screen and (min-width: $desktop) {
            width: 170px;
        }
}

.customers__icon {
    fill: currentColor;
}

