.features {
@extend %section

}

.features__list {
@media screen and (max-width: $mobile) {
        width: auto;
    }

    @media screen and (min-width: $tablet) {
        flex-wrap: wrap;
    }
}

.features__element:nth-child(n + 3){
    @media screen and (max-width: $desktop) {
        margin-top: 30px;
    }
}

.list .features__element+.features__element {
    
    @media screen and (min-width: $desktop) {
     margin-left: 30px;
}


}

.features__element {
    width: auto;

    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: $tablet) {
            width: 354px;
            
        }

    @media screen and (min-width: $desktop) {
            width: 270px;
            
        }
}

.features__list .features__element + .features__element{
    @media screen and (max-width: $tablet) {
            margin-top: 30px;
    
        }
}

.features__title {
    margin-top: 0px;
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    text-transform: uppercase;

    color: var(--title-text-color);

    @media screen and (max-width: $tablet) {
        text-align: center;
        
    
        }
}

.features__icon {
width: auto;
height: 120px;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

    background: #f5f4fa;
    border-radius: 4px;

    @media screen and (min-width: $tablet) {
            width: 354px;
            height: 120px;
        }

    @media screen and (min-width: $desktop) {
        width: 270px;
            height: 120px;
    }
}

