.menu-toggle {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: auto;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
}

@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}

.menu-toggle:hover,
.menu-toggle:focus {
    background-color: #fff;
}


.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 32px;
    background-color: #fff;
    z-index: 999;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;

    display: flex;
    flex-direction: column;
}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-container .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #212121;
}

.mobile-menu {
    padding: 0;
    margin-left: 8px;
    margin-top: 16px;
    margin-bottom: auto;
    list-style: none;
}

.mobile-menu .link {
    display: block;
    padding: 10px;
    color: #212121;
    text-decoration: none;

    font-family: Roboto;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    text-align: left;
}

.mobile-menu .link:hover,
.mobile-menu .link:focus {
    color: #2196F3;
}

.mobile-contakt{
padding-left: 8px;
}

.mobile-contakt .link:last-child{
    margin-top: 32px;
}

.contakt-link-mobile{
    text-decoration: none;
    font-family: Roboto;
    font-size: 34px;
    font-weight: 500;
    line-height: 1.17;
    
    
    color: #757575;
}

.contakt-link-mail{
        text-decoration: none;
        font-family: Roboto;
        font-size: 24px;
        font-weight: 500;
        line-height: 1.16;
        letter-spacing: 0.02em;
        

        color: #757575;
}

.contakt-link-mobile,
.contakt-link-mail:hover{
    color: #2196F3;
}
.contakt-link-mobile,
.contakt-link-mail:focus {
    color: #2196F3;
}

.mobile-socials{
    display: flex;

}

.mobile-socials-item{
margin-top: 64px;
}

.mobile-socials-item:nth-child(n+2){
    border-left: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-socials-link{
    text-decoration: none;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.22;

    color:#2196F3;   
}

.mobile-socials-item {
    padding-left: 10px;
    padding-right: 10px;
}

.menu-button-exite {
        display: flex;
        justify-content: center;
        align-items: center;

        position: absolute;

        top: 8px;
        right: 8px;
        padding: 0;

        text-align: center;

        width: 40px;
        height: 40px;

        background-color: #fff;
        border: none;

        cursor: pointer;

        &:hover,
        &:focus {
            fill: var(--accent-color);
            border-color: var(--accent-color);
            transition-duration: 250ms;
        }
    }