 %section {

    padding-top: 60px;
    padding-bottom: 60px;
    
    
        @media screen and (min-width: $tablet) {
            width: $tablet;
    
            padding-top: 60px;
            padding-bottom: 60px;
        }
    
        @media screen and (min-width: $desktop) {
            width: $desktop;
    
            padding-top: 94px;
            padding-bottom: 94px;
        }
}
 
    
